test.json
[{"id":"2c9586c6.b4da72","type":"tab","label":"Flow 1"},{"id":"57d02114.04a0a8","type":"wiotp-credentials","z":"","name":"","org":"2gxe4k","devType":"mypi","devId":"luffypi"},{"id":"5ac64d0b.679274","type":"twilio-api","z":"","sid":"TWILIO_ACC_SID","from":"TWILIOís_PHONE_NUMBER","name":"bharath babuu"},{"id":"127699f6.c7885e","type":"exec","z":"2c9586c6.b4da72","command":"curl \"192.168.1.119:8080/photo.jpg\" >photo.jpg","addpay":false,"append":"","useSpawn":"","timer":"5","name":"Save snapshot onto local directory from local ip camera","x":532.566650390625,"y":110,"wires":[["3a8530ad.3afbd"],[],[]]},{"id":"3a8530ad.3afbd","type":"file in","z":"2c9586c6.b4da72","name":"Snapshot obtained from IP-Camera in \"~/.node-red\" directory","filename":"photo.jpg","format":"","x":849.566650390625,"y":50,"wires":[["2c3de4f1.a053ec"]]},{"id":"2c3de4f1.a053ec","type":"switch","z":"2c9586c6.b4da72","name":"Is this a valid photo (It checks the downloaded file from camera running on local IP)","property":"payload[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":570.566650390625,"y":182.99996948242188,"wires":[["85aa104e.a944a8"],["d2d0a746.5cffc"]]},{"id":"85aa104e.a944a8","type":"template","z":"2c9586c6.b4da72","name":"Camera not working","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Camera not working","x":882.566650390625,"y":248.99996948242188,"wires":[["9637a9a9.e9c078"]]},{"id":"d2d0a746.5cffc","type":"visual-recognition-v3","z":"2c9586c6.b4da72","name":"Analyze the image and sends details","apikey":"__PWRD__","image-feature":"classifyImage","lang":"en","x":160,"y":242.99996948242188,"wires":[["5490b072.03fef","5e6e2815.68df68"]]},{"id":"5490b072.03fef","type":"switch","z":"2c9586c6.b4da72","name":"Is any object classified?","property":"result.images[0].classifiers[0].classes[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":145.566650390625,"y":364.0000305175781,"wires":[["3a9b759.99e228a","73dd8bab.aa6714"],["b8dd6421.c08388","8e6cc90d.85cad8"]]},{"id":"3a9b759.99e228a","type":"switch","z":"2c9586c6.b4da72","name":"Is a \"person\" one among the classified objects","property":"result.images[0].classifiers[0].classes[0].type_hierarchy","propertyType":"msg","rules":[{"t":"eq","v":"/people","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":488.566650390625,"y":311.0000305175781,"wires":[["6ae9491a.fb88d"],["b8dd6421.c08388","8e6cc90d.85cad8"]]},{"id":"6ae9491a.fb88d","type":"template","z":"2c9586c6.b4da72","name":"A Person has been seen in the image","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Some one has arrived at your doorstep","x":847.566650390625,"y":301.0000305175781,"wires":[["9637a9a9.e9c078"]]},{"id":"9637a9a9.e9c078","type":"twilio out","z":"2c9586c6.b4da72","twilio":"5ac64d0b.679274","twilioType":"sms","url":"","number":"+917019530462","name":"Twilio Service","x":373.566650390625,"y":588.0000610351562,"wires":[]},{"id":"b8dd6421.c08388","type":"template","z":"2c9586c6.b4da72","name":"Activity is detected","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Some activity is being detected in front of your house","x":448.566650390625,"y":409.00006103515625,"wires":[["9637a9a9.e9c078"]]},{"id":"e9067a9f.b7a458","type":"e-mail","z":"2c9586c6.b4da72","server":"smtp.gmail.com","port":"465","name":"TO_EMAIL_ADDRESS","dname":"Email Service","x":717.2333374023438,"y":586.6666870117188,"wires":[]},{"id":"8e6cc90d.85cad8","type":"file in","z":"2c9586c6.b4da72","name":"Snapshot photo ","filename":"photo.jpg","format":"","x":435.23333740234375,"y":454.666748046875,"wires":[["22bc0865.87d848"]]},{"id":"73dd8bab.aa6714","type":"file in","z":"2c9586c6.b4da72","name":"Snapshot photo","filename":"photo.jpg","format":"","x":427.23333740234375,"y":347.6667785644531,"wires":[["d1f67816.5178d8"]]},{"id":"d1f67816.5178d8","type":"function","z":"2c9586c6.b4da72","name":"Email-subject: Someone has arrived","func":"msg.topic=\"Someone has arrived\"\nmsg.filename=new Date().toISOString().replace(/T/, ' ').replace(/\\..+/, '')+\".jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":756.2333374023438,"y":362.66668701171875,"wires":[["e9067a9f.b7a458"]]},{"id":"22bc0865.87d848","type":"function","z":"2c9586c6.b4da72","name":"Email-Subject: Activity is detected","func":"msg.topic=\"Something is moving\"\nmsg.filename=new Date().toISOString().replace(/T/, ' ').replace(/\\..+/, '')+\".jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"x":711,"y":448,"wires":[["e9067a9f.b7a458"]]},{"id":"b5ae1924.cad708","type":"switch","z":"2c9586c6.b4da72","name":"Detected motion?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":119.08332824707031,"y":51.666656494140625,"wires":[["48d6e5a2.1ee8ac"]]},{"id":"247855fe.496a42","type":"rpi-gpio in","z":"2c9586c6.b4da72","name":"PIR INPUT ON 11","pin":"11","intype":"tri","debounce":"25","read":false,"x":95,"y":120.66665649414062,"wires":[["b5ae1924.cad708"]]},{"id":"48d6e5a2.1ee8ac","type":"delay","z":"2c9586c6.b4da72","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":294,"y":43,"wires":[["127699f6.c7885e"]]},{"id":"5e6e2815.68df68","type":"debug","z":"2c9586c6.b4da72","name":"","active":true,"console":"false","complete":"true","x":434,"y":244,"wires":[]},{"id":"4797dc17.d69df4","type":"inject","z":"2c9586c6.b4da72","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":183,"wires":[["127699f6.c7885e"]]}]
